<a href="https://colab.research.google.com/github/Saseeas/bootcamp_projects/blob/main/Python-Sprint8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Intro to Python**


*   Data sturcture 
  

1.  list  [ ]     mutable object (can update value)
2.  tuple ()    = same as list but its is immutable object 
3. dictionary { key : value}
4. set {}


# String

In [58]:
#'String  % fstring in python
my_name = "Boom"
My_university  = 'Cov Uni'
my_long_string = """this is a very long 
this is a second line
this is a thrid line
"""

In [59]:
print (my_name,My_university,my_long_string)

Boom Cov Uni this is a very long
this is a second line
this is a thrid line

In [60]:
#fstring template 
my_name = "boom"
my_age = 25

In [61]:
text = f"my name is {my_name}, and I am {my_age} years old."
print(text)

my name is boom, and I am 25 years old.

In [19]:
# function designed for string (string methods)
text = "a duck walks into a bar "

In [22]:
type(text)

'A DUCK WALKS INTO A BAR '

In [23]:
text.upper()

'A DUCK WALKS INTO A BAR '

In [24]:
"HELLO WORLD".lower()

'hello world'

In [26]:
text2 = text.replace('duck','lion')     #replace duck with a lion 
print(text2)

a lion walks into a bar

# List

In [40]:
# list
shopping_list = ['egg', 'milk', 'bread']
print(shopping_list)

['egg', 'milk', 'bread']

In [41]:
# list method = append
shopping_list.append('orange juice')
print(shopping_list)

['egg', 'milk', 'bread', 'orange juice']

In [42]:
type(shopping_list)

list

In [43]:
# list method .pop()   =delete last item 
shopping_list.pop()

'orange juice'

In [44]:
shopping_list

['egg', 'milk', 'bread']

In [45]:
len(shopping_list)

3

# Dictionary

In [62]:
student = {
"id": 1,
"name": "Mary",
"age": 22,
"movies": ["Spider Man", "Thor", "Iron Man 3"]
}

In [63]:
student['movies'][0]

'Spider Man'

In [64]:
student['city'] = 'London'   #addition city in the dictionary 
student

{'id': 1,
 'name': 'Mary',
 'age': 22,
 'movies': ['Spider Man', 'Thor', 'Iron Man 3'],
 'city': 'London'}

In [65]:
# update value
student['city'] = 'Manchester'
student

{'id': 1,
 'name': 'Mary',
 'age': 22,
 'movies': ['Spider Man', 'Thor', 'Iron Man 3'],
 'city': 'Manchester'}

In [66]:
# remove key-value
del student['city']
student

{'id': 1,
 'name': 'Mary',
 'age': 22,
 'movies': ['Spider Man', 'Thor', 'Iron Man 3']}

# Function

In [80]:
# user-defined function
def hello(username):
    print("Hello! " + username)

In [81]:
hello("Boom")

Hello! Boom

In [77]:
def my_sum(val1, val2):
    return val1 + val2

In [79]:
result = my_sum(5, 15)
result

20

# OOP
Object Oriented Programming

In [95]:
class Dog:
  name = "Boom"
  age = 5
  color = "Brown"
  breed = "Pom"

# function (Dog method)
def sitting(self):
  print("I am sitting now!")
def hungry(self, food_name):
  print(f"I am hungry, I need {food_name}!")

In [102]:
my_dog = Dog()
type(my_dog)

__main__.Dog

In [101]:
my_dog.sitting()

AttributeError: ignored

In [103]:
my_dog.hungry("Hamburger")

AttributeError: ignored